.container {
    &__wrapper {
        &__turn {
            width: 100%;
            max-width: 200px;
            float: left;
            img {
                height: 20px;
                width: 20px;
            }
        }
        &__players {
            width: 100%;
            z-index: 2;
            color: #000;
            display: flex;
            margin-bottom: 80px;
            align-items: center;
            justify-content: space-around;
            #power-btn {
                height: 90px;
                width: 90px;
            }
            #waiting {
                font-size: 20px;
                background: #ffd033
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                #turn-info {
                    font-size: 18px;
                    color: #fff;
                }
                &__one {
                    display: flex;
                    flex-direction: column;
                    padding: 16px;
                    background: #00000073;
                    z-index: 3;
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                    margin-bottom: 10px;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 80px;
                    border: solid 1px #fff;
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                    span {
                        margin: 5px 0;
                        font-size: 16px;
                        text-transform: capitalize;
                    }
                    #sel-x {
                        img {
                            height: 24px;
                            width: 24px;
                        }
                    }
                }
            }
        }
        &__game-board {
            width: 100%;
            z-index: 2;
            min-height: 200px;
            margin: 60px auto;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            border-radius: 10px;
            color: #000;
            padding: 5px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex: 0 1 auto;
            @media only screen and (max-width: 767px) {
                max-width: 300px;
            }
            background: #6648c4;
            .winnerImg {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .winnerMessage {
                    font-size: 35px;
                    font-weight: bold;
                    font-family: GUERRILLA;
                    color: #fff;
                }
                .top {
                    position: absolute;
                    height: 170px;
                    width: 170px;
                    border-radius: 50%;
                }
                .bottom {
                    position: absolute;
                    height: 26px;
                    width: 26px;
                    background: #000;
                    padding: 15px;
                    border-radius: 50%;
                }
                img {
                    height: 270px;
                    width: 300px;
                    border-radius: 10px;
                }
            }
            &__box {
                border-radius: 10px;
                height: 90px;
                width: 90px;
                margin: 5px;
                z-index: 3;
                background: #332267;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 10px;
                }
            }
        }
    }
}